<nav class="navbar  navbar-expand-md navbar-light bg-light" role="navigation"  >
  <div class="container">
    <a class="navbar-brand" ui-sref="app.home"> <i class="fa fa-home"></i> CoinMinex </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item " ui-sref-active="active"><a class="nav-link" ui-sref="app.home" >{{'Home'|translate}} </a></li>

          <li class="nav-item" show-authed="true" ui-sref-active="active"><a class="nav-link" ui-sref="app.dashboard" >{{'Dashboard'|translate}} </a></li>


          <li class="nav-item" show-authed="false" ui-sref-active="active"><a class="nav-link" href="#" ng-click="$ctrl.onSignin()">{{'Sign In'|translate}}</a></li>
          <li class="nav-item" show-authed="false"><a class="nav-link" href="#" ui-sref="app.signup">{{'Sign Up'|translate}}</a> </li>

          <li class="nav-item" show-authed="true"><a class="nav-link" href="#" ui-sref="app.apikeys">{{'API Keys'|translate}}</a> </li>
          <li class="nav-item dropdown " show-authed="true"  ui-sref-active="active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{'Account'|translate}}</a>

              <ul class="dropdown-menu " x-placement="bottom-start">
                <li class="nav-item" > <a class="nav-link dropdown-item" ui-sref="app.profile">{{'Profile'|translate}}</a> </li>
                <li class="nav-item" > <a class="nav-link dropdown-item" href="#">Another action</a> </li>
                <li class="nav-item" > <a class="nav-link dropdown-item" href="#">Something else here</a> </li>
                <li > <div class="dropdown-divider"></div> </li>
                <li class="nav-item" > <a class="nav-link  dropdown-item" href="#" ng-click="$ctrl.onLogout()">{{'Logout'|translate}}</a> </li>
              </ul>
          </li>

          <li class="nav-item" ui-sref-active="active"><a class="nav-link" href="#" ui-sref="app.about">{{'About'|translate}}</a></li>
      </ul>
    </div>
</nav>
