<div class="container text-center">

  <p>

    <a class="social-login-btn social-facebook" href="" ng-click="$ctrl.authSocial('facebook')"
       title="{{'Login with your Facebook account'|translate}}"
    >
      <span class="fa-stack fa-lg ">
        <i class="fa fa-facebook fa-stack-1x"></i>
        <i class="fa fa-square-o fa-stack-2x"></i>
      </span>

    </a>
    <a class="social-login-btn social-google" href="" ng-click="$ctrl.authSocial('google')"
       title="{{'Login with your Google account'|translate}}"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-google fa-stack-1x"></i>
        <i class="fa fa-square-o fa-stack-2x"></i>
      </span>
    </a>

    <a class="social-login-btn social-linkedin" href="" ng-click="$ctrl.authSocial('linkedin')"
       title="{{'Login with your LinkedIn account'|translate}}"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-linkedin fa-stack-1x"></i>
        <i class="fa fa-square-o fa-stack-2x"></i>
      </span>
    </a>

    <a class="social-login-btn social-github" href="" ng-click="$ctrl.authSocial('github')"
       title="{{'Login with your GitHub account'|translate}}"
    >
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-1x"></i>
        <i class="fa fa-square-o fa-stack-2x"></i>
      </span>
    </a>

  </p>
</div>
