<section>
  <div class="content mb-5">
    <div class="main-header">
      <h2> Dashboard </h2>
      <em> A Short page description </em>
    </div>
    <div class="main-content">



      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3 class="with-line"> Acquisition Channels </h3>
          <traffic-chart></traffic-chart>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h3 class="with-line"> Users by Country</h3>
          <div id="amChartMap" class="mb-5" style="height: 400px; "></div>

        </div>
      </div>



    </div>
  </div>



</section>
