<div class="channels-block" ng-class="{'transparent': transparent}">
  <div class="chart-bg"></div>
  <div class="traffic-chart" id="trafficChart">
    <div class="canvas-holder">
      <canvas id="chart-area" width="280" height="280"></canvas>
      <div class="traffic-text">
        1,900,128
        <span>Views Total</span>
      </div>
    </div>
  </div>

  <div class="channels-info">
    <div>
      <div class="channels-info-item" >

        <div ng-repeat="label in doughnutData.labels"
             ng-init="i = $index; data = doughnutData.datasets[0]">
          <small>            {{::label}} +{{data.percentage[i]}}%</small>
          <div class="progress progress-sm channel-progress">
          <div class="progress-bar " role="progressbar"
               aria-valuenow="{{data.percentage[i]}}" aria-valuemin="0" aria-valuemax="100"
               style="width: {{data.percentage[i]}}%; background-color: {{data.backgroundColor[i]}}"
          >
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
